# Node modules and dependency directories
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Docker build files
Dockerfile
.dockerignore

# Git and version control
.git
.gitignore

# Optional eslint cache
.eslintcache

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
*.sublime*
*.swp
*.swo
.vscode

# Optional npm cache directory
.npm

# Environment files
.env
.env.*.local

# Output directories
dist
out
build
releases

# Cache directories
.cache
.tmp
.temp
